

<!--

@using VismasLoanCalculator.Models;
@using VismasLoanCalculator.Data
-->



@code {

/*
        [Parameter]
        public IEnumerable<MonthlyPaymentModel> MonthlyPayments { get; set; }
    }

    @if (MonthlyPayments != null)
        {
        <table class="table">
                <thead>
                    <tr>
                    <th>Month</th>
                    <th>Principal Payment</th>
                    <th>Interest Payment</th>
                    <th>Total Payment</th>
            </tr>
            </thead>
                <tbody>
                @foreach (var payment in MonthlyPayments)
                    {
                        <tr>
                        <td>@payment.Month</td>
                        <td>@payment.PrincipalPayment.ToString("N2")</td>
                        <td>@payment.InterestPayment.ToString("N2")</td>
                        <td>@payment.TotalPayment.ToString("N2")</td>
                </tr>
            }
        </tbody>
    </table>
    */
}
