@inherits LayoutComponentBase

<PageTitle>VismasLoanCalculator</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <div class="container-fluid d-flex justify-content-center">
                <a class="navbar-brand" href="/">
                    <img src="css/pictures/Visma_logo.png" alt="Visma Logo" />
                </a>
            </div>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
